<p>GAMEAPP</p>
<p>{{playername}}</p>

<div class="container">
    <div class="row">
        <div class="col">
            <h1 class="text-center">
                Choose
            </h1>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div *ngFor="let element of elements" class="col">
            <img src="/assets/{{element.hand}}.png" alt={{element.hand}} class="img-fluid">
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div *ngFor="let element of elements" class="col">
                <button (click)="onSelect(element.hand)">{{element.hand}}</button>
        </div>
    </div>
</div>
<app-scoreboard [player]="player" [opponent]="opponent"></app-scoreboard>