<div class="container">
    <div class="row">
        <div class="col">
            <h1 class="text-center">
                {{player.name}}
            </h1>
        </div>
        <div class="col">
        </div>
        <div class="col">
            <h1 class="text-center">
                {{opponent.name}}
            </h1>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <h1 class="text-center">
                {{player.choice}}
            </h1>
        </div>
        <div class="col">
        </div>
        <div class="col">
            <h1 class="text-center">
                {{opponent.choice}}
            </h1>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <h1 class="text-center">
                {{playerscore}}
            </h1>
        </div>
        <div class="col">
        </div>
        <div class="col">
            <h1 class="text-center">
                {{opponentscore}}
            </h1>
        </div>
    </div>
</div>
