<div class="container-fluid">
    <form>
        <div class="row">
            <div class="col-3"></div>
                <div class="col-6">
                    <p>Oops something went wrong!</p>
                </div>
            <div class="col-9"></div>
        </div>
    </form>
</div>
<div class="container-fluid">
    <form>
        <div class="row">
            <div class="col-3"></div>
                <div class="col-6">
                    <a routerLink="/landingpage" routerLinkActive="active">go back to start page</a>
                </div>
            <div class="col-9"></div>
        </div>
    </form>
</div>