<div class="container-fluid pt-5 mt-5 mb-2">
    <div class="row">
        <div class="col">
            <h1 class="text-center">
                Rock Paper Scissors
            </h1>
        </div>
    </div>
</div>

<div class="container-fluid p-2">
    <form>
        <div class="row">
            <div class="col-sm-4"></div>
                <div class="col-sm-4">
                    <input type="text" 
                    [(ngModel)]="playername" 
                    name="name" 
                    class="form-control" 
                    placeholder="Insert Player Name" 
                    required>
                </div>
            <div class="col-sm-4"></div>
        </div>
    </form>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col">
            <h1 class="text-center">
                <button routerLink="/game" 
                    routerLinkActive="active" 
                    (click)=onClick() type="button" 
                    [disabled]="!playername"
                    class="btn btn-danger btn-lg">
                    Start Game!
                </button>
            </h1>
        </div>
    </div>  
</div>

<div class="container-fluid p-2">
    <form>
        <div class="row">
            <div class="col-sm-4"></div>
                <div class="col-sm-4">
                    <input type="number" 
                    [(ngModel)]="gameid" 
                    name="name" 
                    class="form-control" 
                    placeholder="Insert GameID" 
                    required>
                </div>
            <div class="col-sm-4"></div>
        </div>
    </form>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col">
            <h1 class="text-center">
                <button 
                    (click)="goToHistory()"
                    [routerLink]="['/history/', gameid]"
                    type="button" 
                    [class.disabled]="!gameid"
                    class="btn btn-dark btn-lg">
                    Load Last Game!
                </button>
            </h1>
        </div>
    </div>  
</div>

<router-outlet></router-outlet>