<div class="container-fluid">
    <form>
        <div class="row">
            <div class="col-3"></div>
                <div class="col-6">
                    <input type="text" [(ngModel)]="name" name="name" class="form-control" placeholder="Insert Player Name" required>
                </div>
            <div class="col-9"></div>
        </div>
    </form>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col">
            <h1 class="text-center">
                <a routerLink="/game" routerLinkActive="active">Rock Paper Scissor Game</a>
            </h1>
        </div>
    </div>  
</div>

<app-game-page [playername]="name"></app-game-page>